html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url(/de.png); */

  height: 6070px;
  text-align: center;
  margin: 0 auto;
}

a img {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 125;
}
img[alt="da"] {
  max-height: 100%;
}
video {
  position: relative;
  top: -2800px;
  max-width: 400px;

  right: 550px;
  z-index: 100;
}
