html {
  scroll-behavior: smooth;
}

body {
  background-image: url(/de.png);
  max-width: 1440px;
  height: 6070px;
  text-align: center;
  margin: 0 auto;
}

img{
  position: fixed;
  bottom: 20px;
  right: 50px
}
video{
  margin-top: 2500px;
  max-width:400px ;
  margin-left: 530px;
}