html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url(/de.png); */
  max-width: 1980px;
  height: 6070px;
  text-align: center;
  margin: 0 auto;
}

a img {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 125;
}
img[alt="da"] {
  max-height: 100%;
}
video {
  position: absolute;
  width: 325px;
  margin:  0 auto;
  text-align: center;
  top: 2600px;
  right: 50%;
  margin-right: -500px;
  
}
